%h2 Commits

#tags{:"ng-controller" => "TagsController", style: "margin-bottom: 10px"}
  %ul.nav.nav-tabs{style: "margin-bottom: 0px;"}
    %li#by-day
      %a{:"ng-click" => "tag_count_by_day()"} By Day
    %li#overall
      %a.btn{:"ng-click" => "tag_count()"} Overall

  #chart-container
    .chart
    .x-axis
    .legend

#commits{:"ng-controller" => "CommitsController"}
  %table.table.table-hover
    %tr{:"ng-repeat" => "commit in commits"}
      %td {{ commit.commit_hash }}
      %td{style: "width: 140px"} {{ commit.committed_at | date:'MM/dd/yyyy HH:mm:ss'}}
      %td 
        .commit-message {{ commit.message }}
        .tags-container
          .commit-tag{:"ng-repeat" => "(key, tag) in commit.tags", :"ng-click" => "removeTag(commit, key)"} 
            {{ tag.text }}
            %i.icon-remove
          %input
