%h2 Commits

%table.table.table-hover
  %tr{:"ng-repeat" => "commit in commits"}
    %td {{ commit.commit_hash }}
    %td{style: "width: 140px"} {{ commit.committed_at | date:'MM/dd/yyyy HH:mm:ss'}}
    %td 
      .commit-message {{ commit.message }}
      .tags-container{style: "width: 100%; border: 1px solid red"}
        .commit-tag{:"ng-repeat" => "(key, tag) in commit.tags", :"ng-click" => "removeTag(commit, key)"} 
          {{ tag.text }}
          %i.icon-remove
        .add-tag.commit-tag{:"ng-click" => "addTag(commit)"}
          add
          %i.icon-plus
        %input.hidden
