.header
  %h3.float-left
    %a{href: '#'} Commits
  %h2.float-left{style: "margin-left: 10px;"} Tags
  .float-right{style: "margin-top: 10px"} 
    %i.icon-download-alt
    %a{href: "/api/commits.csv"} Export

#tags-view{:"ng-controller" => "TagsController"}
  #tags-list.float-left.clr
    .tag{:"ng-repeat" => "tag in tags"}
      .inside-box{:"ng-style" => "{ width: tag.count, 'background-color': tag.color }"}
        %a{:"ng-click" => "showTag(tag)", :"ng-show" => "tag.count > 50"} {{ tag.text }}
        &nbsp;
      .outside-box
        %a{:"ng-click" => "showTag(tag)", :"ng-show" => "tag.count <= 50"} {{ tag.text }} 
        {{ tag.count }}

  #tag-detail.float-left
    .tag-text
      {{ shownTag.text }}

    #chart-container
      .chart
      .x-axis
      .legend
      
