.commit-tag {
  display: inline-block;
  border-radius: 5px; 
  padding-left: 5px; 
  padding-right: 5px;

  background-color: #CCC; 

  &:hover {
    color: white;
  }
}

.tags-container input {
  border: 0px;
  background-color: transparent;
  &:focus {
    outline: 0px;
  }
}