#tags-list {
  width: 50%;
  border-right: 1px solid #CCCCCC;

  .tag a:hover {
    color: #00DDDD;
  }
}

.tag .inside-box {
  display: inline-block;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.tag .outside-box {
  display: inline-block;
}

#tag-detail {
  margin-left: 55px;
  width: 45%;
}

#tag-detail .tag-text {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}